<div class="footer-container">
    <div class="footer">
        <div class="footer-content">
            <div class="container-info">
                <div class="footer-content__logo">
                    <img src="https://tienda.fletx.co/wp-content/uploads/elementor/thumbs/Grupo-3141-pp9c4d20qqptwp5lenwjsj6aafji3kwswpfo8huwes.png" title="Grupo 3141" alt="Grupo 3141" loading="lazy"/>
                    
                </div>
                <div class="mt-2">
                    <h5>Soporte Marketplace</h5>
                    <p>Centro de Atencion: (601) 558 9647
                        Whatsapp: (+57) 3212872455
                        E-mail: Soporte@fletx.co</p>
                </div>
            </div>
        
            <div class="container-web">
                <span>Tienda.fletx.co</span>
            </div>
            <div class="container-links mt-2">
                <div>
                    <ul class="">
                          <li><a href="">Quienes Somos</a></li>
                          <li><a href="">Noticias</a></li>
                          <li><a href="">Blog</a></li>
                          <li><a href="">Liderazgo</a></li>
                          <li><a href="">Trabaja con Nosotros</a></li>
                          <li><a href="">Contáctanos</a></li>
                    </ul>
                 </div>
                 <div class="logos-footer">
                     <span class="mr-2 title-images">Síguenos en redes sociales</span>

                     <div class="container-images mt-3">
                            <img src="https://tienda.fletx.co/wp-content/uploads/elementor/thumbs/Group-532-pp9cisuqr1gxikgprkb951xif957xv17mx4g4xwd5c.png" alt="">
                            <img src="https://tienda.fletx.co/wp-content/uploads/elementor/thumbs/Group-533-pp9ciuqf4pji5sdzgl4ia1gfm0vyd98ob6ff3htksw.png" alt="">
                            <img src="https://tienda.fletx.co/wp-content/uploads/elementor/thumbs/Group-534-pp9civo9bjkshecmb3j4uj7w7erbkycenb2wkrs6mo.png" alt="">    
                            <img src="https://tienda.fletx.co/wp-content/uploads/elementor/thumbs/Group-535-pp9ciwm3idm2t0b95lxrf0zcssmosng4zfqe21qsgg.png" alt="">
                     </div>
                    </div>
            </div>
           
        </div>
        <div class="text-center mt-4">
            <p>
             Política de Privacidad | Hábeas Data | Términos y Condiciones
            </p>
            <p>
             Flexi Tecnoservicios S.A. 2001 - 2022
            </p>
           </div>
    </div>

</div>