.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0C142E;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    color: white;
}
.container-info{
    display: inline-block;
    justify-content: space-between;
    width: 50%;
}
.container-web{
    display: inline-block;
    justify-content: space-between;
    width: 50%;
    font-size: 25px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0C142E;
    margin-top: 20px;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    color: white;
}
.container-links ul {
    list-style-type: none; /* Quita los bullets de la lista */
    padding: 0; /* Quita el padding por defecto */
}

.container-links ul li a {
    color: #FFFFFF; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}
.container-images{
    width: 200px ;
    justify-content: space-between;

}
@media (max-width: 518px) {
   .footer-content{
    display: inline-block;
   }
   .title-images{
    font-size: 20PX;
   }
   .container-images img{
      height: 50px;
      width: 50px;
      margin-left: px;
    
   }
 
}