.Contactanos{
    font-family: "Open Sans", Sans-serif;
font-weight: 700;
font-style: italic;
fill: #FFFFFF;
color: #FFFFFF;
background-color: #61CE7000;
border-style: solid;
border-width: 0px 0px 0px 0px;
border-radius: 8px 8px 8px 8px;
margin-left: 20px;
}
.contenedor-principal{
    width: 100% !important;
}
a {
background-color: transparent;
text-decoration: none;
color: #c36;
}
.principal{
    width: 100% !important;
}
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #333;
background-color: #fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.button-inicio-sesion {
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
    font-style: italic;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #212529;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-radius: 8px 8px 8px 8px;
    width: 216px !important; /* Ancho fijo */
    height: 37px !important; /* Altura fija */
    display: inline-block; 
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}
.button-registro {
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
    font-style: italic;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FF3C3A;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FF3C3A;
    border-radius: 8px 8px 8px 8px;
    width: 216px !important; /* Ancho fijo */
    height: 37px !important; /* Altura fija */
    display: inline-block; 
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}
.button:hover {
    background-color: #FF3C3A;
    color: #FFFFFF;
    border-color: #FF3C3A;
    text-align: center;
    transition: all .3s;
}
.span-button{
    text-decoration: inherit;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 2px;

}

.nav{
    align-items: center;
    width: 100%!important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C7C7C7;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.58);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 1000;
}
.nav-contenedor{
    display: flex;
    margin-right: 20px;
    margin-left: 27px;
    position: relative;
}
.nav-contenedor{
    display: inline-block;
    margin-right: 20px;
    margin-left: 27px;
    position: relative;
}
.nav-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}
.nav-menu-list{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-menu-item{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
.nav-menu-link{
    color: #0C142E;
    fill: #0C142E;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.3px;
}
.nav-search {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegúrate de que el contenedor tenga una altura. Si no, puedes usar un valor específico como 100vh */
}
.nav-search-input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    color: #0C142E;
    background-color: transparent;
    outline: none;
}
.nav-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 40px!important;
}
.elementor-search-form__container {
    display: flex; /* Alinea el icono y el input en la misma línea */
    border-bottom: 1px solid #000; /* Añade un borde en la parte inferior */
    background-color: transparent; /* Hace que el fondo sea transparente */
}

.elementor-search-form__icon {
    margin-right: 10px; /* Añade un espacio entre el icono y el input */
}

.elementor-search-form__input {
    background-color: transparent; /* Hace que el fondo del input sea transparente */
    border: none; /* Elimina el borde del input */
}
.elementor-search-form__input:focus {
    outline: none; /* Elimina el borde que aparece cuando el input está enfocado */
}
.button-carrito{
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
    font-style: italic;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FF3C3A;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FF3C3A;
    border-radius: 8px 8px 8px 8px;
    width: 111px !important; /* Ancho fijo */
    height: 40px !important; /* Altura fija */
    display: inline-block; 
    text-align: center;
    margin-top: 10px;
}
.nav-search-mobile {
    display: none; 
}
/* Estilos para pantallas pequeñas */


/* Estilos para el botón de hamburguesas */
.line {
    width: 25px;
    height: 3px;
    background-color: #0C142E;
    margin: 4px 0;
}
.contacto{
    display: none;
}
.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.menu-oculto{
    display: none;
}
.hamburger-container{
    display: none;
}
.modal-header{
    color: white;
}
.close{
    color: #FF3C3A;
    border: none;
    font-size: 25px;


}
.btn-outline-dark{
    background-color: #FF3C3A;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;

}
@media (max-width: 863px) {
    .contacto, .col-md-4 {
        display: flex;
        font-family: "Open Sans", Sans-serif; 
        font-weight: 700;
        font-style: italic;
        fill: #FFFFFF;
        color: #FFFFFF;
        background-color: #61CE7000;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 8px 8px 8px 8px;
        margin-left: 20px;
    width: 200px;
    }
    .Contactanos{
        display: none;
    }
    .col-md-3, .col-md-4 {
        flex: 1 0 50%; /* Esto hace que cada elemento ocupe al menos el 50% del ancho del contenedor */
    }
    .row {
        display: flex;
        flex-wrap: wrap; /* Esto permite que los elementos se envuelvan en múltiples líneas si no hay suficiente espacio */
    }
}
@media(max-width: 768px){
    .button-inicio-sesion {
        font-family: "Open Sans", Sans-serif;
        font-style: italic;
        fill: #FFFFFF;
        color: #FFFFFF;
        background-color: #0C142E;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: white;
        border-radius: 8px 8px 8px 8px;
        width: 130px !important; /* Ancho fijo */
        height: 37px !important; /* Altura fija */
        display: inline-block; 
        text-align: center;
        margin-top: 10px;
        margin-left: 5px ;
    }
    .button-registro {
        font-family: "Open Sans", Sans-serif;
        font-style: italic;
        fill: #FFFFFF;
        color: #FFFFFF;
        background-color: #FF3C3A;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: #FF3C3A;
        border-radius: 8px 8px 8px 8px;
        width: 130px !important; /* Ancho fijo */
        height: 37px !important; /* Altura fija */
        display: inline-block; 
        text-align: center;
        margin-top: 10px;
        margin-left: 5px ;
    }
    a.contacto{
        width: 90px;
        font-size: 11px;

    }
    .menu-oculto{
        display: block;
    }
    .menu{
        display: none;
    }
    .nav{
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #C7C7C7;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.58);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        z-index: 1000;
    }
    .nav-search-mobile{
        display: flex;
        height: 100%;
    }
    .nav-search{
        display: none;
        
    }
    img{
        width: 100px;
    }
    .nav-search-mobile {
        padding: 0 10px;
        border: 0;
        border-radius: 0;
        font-size: 14px;
        font-weight: 600;
        color: #0C142E;
        background-color: transparent;
        outline: none;
    }
    .elementor-search-form__container {
        display: flex; 
        border-bottom: none; 
        background-color: transparent;
    }
    .hamburger-container{
        display: block;
    }
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .hamburger-line {
        width: 20px;
        height: 2px;
        background-color: black;
        margin: 5px 0;
        display: block;
    }
}