<div class="contenedor-principal" >
    <div class="row principal" style="height: 56px;width: 100%; background-color: #0C142E;">
        <div class="container-button">
                <div class=" mt-3 ">
                    <div class="elementor-button-wrapper">
                        <a class="Contactanos"
                            href="https://api.whatsapp.com/send?phone=573212872455&amp;text=Hola%20Tienda%20FletX.%20Me%20interesan%20sus%20productos.%20Mi%20nombre%20es%20">
                            <span>
                                <i class="fa-solid fa-phone"></i> <span> Contáctanos 321 2872455</span>

                            </span>
                        </a>
                        <a class="contacto"
                        href="https://api.whatsapp.com/send?phone=573212872455&amp;text=Hola%20Tienda%20FletX.%20Me%20interesan%20sus%20productos.%20Mi%20nombre%20es%20">
                        <span>
                            <i class="fa-solid fa-phone"></i>
                            <span> 321 2872455</span>

                        </span>
                    </a>
                    </div>
                  
                </div>
               
                <div class="">
                    <a class="button-inicio-sesion elementor-button"
                        href="https://tienda.fletx.co/index.php/woolentor-template/iniciar-sesion/">
                        <span class="span-button">
                            <span>Inicia sesión </span>
                        </span>
                    </a>
                </div>
                <div class="">
                    <a class="button-registro elementor-button"
                        href="https://tienda.fletx.co/index.php/woolentor-template/iniciar-sesion/">
                        <span class="span-button">
                            <span>
                                <i aria-hidden="true" class="far fa-user-circle ml-2"></i></span>
                            <span>Regístrate</span>
                        </span>
                    </a>
                </div>

          
        </div>
    </div>
    <nav class="nav">
        <div class="nav-toggle mt-3 hamburger-container">
            <button class="hamburger" (click)="toggleMenu();">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </button>
        </div>
        <div class="nav-contenedor">
            <div class="nav-logo mt-3">
                <a href="">
                    <img src="https://tienda.fletx.co/wp-content/uploads/elementor/thumbs/cropped-Grupo-3133-pp9b0jm5ljubfs8kxsy3qrsukviz8x7i34aem22ycu.png"
                        alt="Logo FletX" class="logo">
                </a>
            </div>
            <div class="nav-menu mt-4 mb-3 menu">
                <ul class="nav-menu-list">
                    <li class="nav-menu-item">
                        <a href="" class="nav-menu-link">Mobil Delvac</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="" class="nav-menu-link">Continental</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="" class="nav-menu-link">Llantas</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="" class="nav-menu-link">Autopartes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="" class="nav-menu-link">Mi cuenta</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-search">
                    <div class="elementor-widget-container">
                            <div class="elementor-search-form__container">
                                <div class="elementor-search-form__icon">
                                    <i aria-hidden="true" class="fas fa-search"></i> 
                                </div>
                                <input placeholder="Buscar por nombre, marca o código"
                                    class="elementor-search-form__input" type="search" name="s" title="Search" value="">
                            </div>
                    </div>
        </div>
        <div class="nav-carrito">
            <div class="elementor-menu-cart__wrapper">
                        <a id="elementor-menu-cart__toggle_button" href="#"
                        class="button-carrito"
                        aria-expanded="false"(click)="open(content)"
                        >
                            <span class="elementor-button-text"><span ><bdi>
                                <span>$</span>&nbsp;{{cartTotal}}</bdi></span></span>
                            <span class="elementor-button-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <!-- <span class="elementor-screen-only">Cart</span> -->
                            </span>
                        </a>
            </div>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header text-center">
                <h4 class="modal-title" id="modal-basic-title"></h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="cart.length!=0" class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let product of cart">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5>{{ product.Nombre }}</h5>
                                    <p class="mb-0">$ {{ product.Precio }}</p>
                                </div>
                                <button class="btn btn-danger" (click)="removeProduct(product)">X</button>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <h5 class="mb-0">Total: ${{cartTotal}}</h5>
                    </div>
                </div>
              
                <div *ngIf="cart.length==0">
                    <p style="color: #FF3C3A; font-size: 20px;text-align: center;" > No hay productos en el carrito</p>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="finalizarCompra();modal.dismiss('Cross click');">Finalizar compra</button>
            </div>
          </ng-template>
        <div class="nav-search-mobile ">
            <div class="elementor-widget-container">
                <div class="elementor-search-form__container">
                    <div class="">
                        <i aria-hidden="true" class="fas fa-search"></i> 
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 menu-oculto col-12" [class.menu]="menuVisible">
            <ul class="nav flex-column" >
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link">Mobil Delvac</a>
                </li>
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link">Continental</a>
                </li>
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link">Llantas</a>
                </li>
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link">Autopartes</a>
                </li>
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link">Mi cuenta</a>
                </li>
            </ul>
        </div> 
    </nav>
</div>