<div class="">
  <app-header></app-header>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://s3-alpha-sig.figma.com/img/5084/835e/cef0ef4f43cf52a6e071606d9830c672?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XSmsUtxDyvj8u-zBhARHjLg~-m54tadw7EVopdYQKUcJsIr9ox2jPadXf8Y4seyyDJym2CTQVH5DrfZnap18WMoARzF76LtbSdG9WT~Z3XYXZk9GaysoUMqmOs98K1Xgsvgh5ADh5GFX3sAlRvESY0BsD9pPEJDjeIV~vxD~904QhwHiIPneqoqIAeUBMFuNfi-GrBUNAnOc3~po6q6Ii0yYk--7drZPY1mtUEnxG4SwTk104cl0YqahLSXwG6393V3aVQSbMJpM1Tx0VI6ln6QwMe0D-OcILzBwVrt8WNgAFPhTeJ03~kZzVoRK6ZupmtjQFMsstuM5CgAEldlyVg__"
          class="d-block w-100" alt="...">

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="select-container">
      <select class="form-select small-select" aria-label="Default select example">
        <option selected>Ver por</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="form-select small-select" aria-label="Default select example">
        <option selected>Ordenar por</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <section class="row " style="margin: 0px;">
    <div class="filtros" class="col-md-3 ml-4">
      <div class="filter-header">
        <span class="title mt-4">Filtros</span>
        <div class="mt-3 right-align">
          <a class="button-delete-filter  elementor-button"
            href="https://tienda.fletx.co/index.php/woolentor-template/iniciar-sesion/">
            <span class="span-button">
              <span>
                <i class="fa-solid fa-trash"></i></span>
              <span>Borrar filtros</span>
            </span>
          </a>
        </div>
      </div>
      <div class="mt-2">
        <span class="title" style="color: #6d7282; font-weight: bold;">referencias</span>
        <div class="form-check mt-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Legend 1340
          </label>
          <label class="form-check-label " for="flexRadioDefault1">
            2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Modern 10w-40
          </label>
          <label class="form-check-label" for="flexRadioDefault2">
            10 </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Modern
          </label>
          <label class="form-check-label " for="flexRadioDefault1">
            2
          </label>
        </div>
        <div class="form-check mt-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Legend
          </label>
          <label class="form-check-label " for="flexRadioDefault1">
            2
          </label>
        </div>
        <div class="rango mt-3">
          <h3 class="font-semibold mb-2">Rango de precio</h3>
          <input type="range" class="form-range range-slider" min="0" max="5000000" id="priceRange">
          <div class="d-flex justify-content-between">
            <span>$0</span>
            <span>$5.000.000</span>
          </div>



        </div>
        <div class="mt-2">
          <span class="title" style="color: #6d7282; font-weight: bold;">Presentación</span>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Tambor
            </label>
            <label class="form-check-label " for="flexRadioDefault1">
              2
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Balde
            </label>
            <label class="form-check-label" for="flexRadioDefault2">
              10 </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Galón
            </label>
            <label class="form-check-label " for="flexRadioDefault1">
              2
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Cuarto
            </label>
            <label class="form-check-label " for="flexRadioDefault1">
              2
            </label>
          </div>
        </div>

      </div>
    </div>
    <div class="productos col-md-8 row">
      <div class="card mb-3 mt-3 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;" *ngFor="let data of arrayProductos">
          <img
              src="https://s3-alpha-sig.figma.com/img/8c45/a7ae/cd61172171e3cdf2997ecac84f77cc8a?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jPfFm7~43TGoC-NGAv-bonMHrZZNWAbw5upt42xQD~xQ04QowaRyfHLUk5~rYA~t05O9Ta2I~PDfNAJYfJ4DclvRaEhauXVdwCLrBQM8OA183fXN8njmwAoo6z0265RLVI2vxjJALT3AxOm-dcc6EYK6Lvujcgvjeobm9Kq3BVjI95dxu8konJlLyqRq8JPx-wbLfmDFOKioDRCBogN4~fU0oiIiykp3yxAu8Cs83PDrXlZ9rD-4er7IfJEmgfsLvxcHuo2vf6UQdbXlYZoyvQ4S1XV22KoItVdrgsycf2EKWRsesVjKsv3~C5MiG5mOKIyB4C7fet02eNSOKYhJeA__"
              class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
              <h5 class="card-title" style="font-size: 20px; font-weight: bold;">{{data.Nombre}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
              <span class="price">$ {{data.Precio}}</span>
              <div class="btn-card">
                  <a href="#" class="btn btn-like">
                      <i class="fa-regular fa-heart"></i>
                  </a>
                  <a class="btn " (click)="addToCart(data)">
                      <i class="fas fa-shopping-cart"></i>Agregar al carrito</a>
              </div>
          </div>
      </div>
  </div>
    </section>
      <app-footer></app-footer>
    
  </div>
</div>