.select-container {
    margin-top: 10px;
    margin-left: 20px; /* Ajusta este valor según tus necesidades */
    margin-right: 20px; /* Ajusta este valor según tus necesidades */
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px); /* Resta los márgenes izquierdo y derecho del ancho total */
}

.small-select {
    width: 45%; /* Ajusta este valor según tus necesidades */
}


.button-delete-filter {
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
    font-style: italic;
    fill: #FF3C3A;
    color: #FF3C3A;
    background-color: white;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FF3C3A;
    border-radius: 8px 8px 8px 8px;
    width: 200px !important; /* Ancho fijo */
    height: 37px !important; /* Altura fija */
    display: inline-block; 
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}
.title{
    margin-left: 5px;
    font-family: "Open Sans", Sans-serif;
    color: black ;
    font-size: 15px;
    font-weight: 700;
}
.filter-header{
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
}
.filtros{
    padding-left: 30px; 
    padding-right: 30px; 
}
input[type='radio']:checked {
    background-color: #FF0000;
    border: #FF0000; /* Cambia este valor al color que prefieras */
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px; 
    padding-right: 30px; 
}
.price{
    font-family: "Open Sans", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FF3C3A;

}
.btn{
    background-color: #FF3C3A;
    border: none;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    height: 60px;
    font-size: 18px;

}
.btn-like{
    background-color: #FF3C3A;
    border: none;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 60px;

}
.btn-card{
    display: flex;
}

@media(max-width: 768px){
    .button-delete-filter {
        font-family: "Open Sans", Sans-serif;
        font-style: italic;
        fill: #FF3C3A;
        color: #FF3C3A;
        background-color: white;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: #FF3C3A;
        border-radius: 8px 8px 8px 8px;
        width: 100px !important; /* Ancho fijo */
        height: 25px !important; /* Altura fija */
        display: inline-block; 
        text-align: center;
        margin-top: 10px;
        margin-left: 5px ;
        font-size: 12px;
    }
    .right-align {
        text-align: right;
    }
    .btn{
        background-color: #FF3C3A;
        border: none;
        color: white;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 2PX;
    
    }
    .btn-like{
        background-color: #FF3C3A;
        border: none;
        color: white;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
        width: 50px;
        height: 60px;
        
    
    }
    
}
