.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.form-control {
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}