<app-header></app-header>
<div class="container">
    <div class="row">
     <div class="col-md-6">
      <h2>
       Datos de facturación
      </h2>
      <form>
       <div class="mb-3">

        <label class="form-label" for="firstName">
         Nombres *
        </label>
        <input class="form-control" id="firstName" placeholder="Nombres" type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="lastName">
         Apellidos *
        </label>
        <input class="form-control" id="lastName" placeholder="Apellidos" type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="companyName">
         Nombre de la empresa (opcional)
        </label>
        <input class="form-control" id="companyName" placeholder="Nombre de la empresa" type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="country">
         País / Región *
        </label>
        <input class="form-control" disabled="" id="country" placeholder="Colombia" type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="streetAddress">
         Dirección de la calle *
        </label>
        <input class="form-control" id="streetAddress" placeholder="Número de la casa y nombre de la calle" type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="apartment">
         Apartamento, habitación, etc. (opcional)
        </label>
        <input class="form-control" id="apartment" placeholder="Apartamento, habitación, etc." type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="city">
         Localidad / Ciudad *
        </label>
        <input class="form-control" id="city" type="text"/>
       </div>
       <div class="mb-3">
        <label class="form-label" for="state">
         Departamento *
        </label>
        <select class="form-control" id="state">
         <option>
          Capital District
         </option>
        </select>
       </div>
       <div class="mb-3">
        <label class="form-label" for="zip">
         Código postal (opcional)
        </label>
        <input class="form-control" id="zip" type="text"/>
       </div>
      </form>
     </div>
     <div class="col-md-6">
      <h2>
       Tu pedido
      </h2>
      <table class="table">
       <thead>
        <tr >
         <th>
          Producto
         </th>
         <th>
          Subtotal
         </th>
        </tr>
       </thead>
       <tbody>
        <tr *ngFor="let product of cart">
         <td>
            {{product.Nombre}}
         </td>
         <td>
            $ {{product.Precio}}
         </td>
        </tr>
       </tbody>
       <tfoot>
        <tr>
         <th>
          Subtotal
         </th>
         <td>
            {{cartTotal}}
         </td>
        </tr>
        <tr>
         <th>
          Envío
         </th>
         <td>
          Envío gratuito
         </td>
        </tr>
        <tr>
         <th>
          Total
         </th>
         <td>
            {{cartTotal}}
         </td>
        </tr>
       </tfoot>
      </table>
      <div class="form-check mb-3">
       <input class="form-check-input" id="terms" type="checkbox"/>
       <label class="form-check-label" for="terms">
        I have read and agree to the website terms and conditions *
       </label>
      </div>
      <button (click)="comprar()" class="btn btn-primary btn-lg" type="submit">
       PAGAR
      </button>
     </div>
    </div>
   </div>
   <app-footer></app-footer>